<template>
  <v-app>
    <v-toolbar
      color="red darken-2"
      fixed
      app
    >
      <v-toolbar-title
        class="white--text"
        v-text="title"
      />
    </v-toolbar>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer
      app
      color="red darken-2"
    >
      <span class="white--text">&nbsp;&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: 'Projeto de Pesquisa'
    }
  }
}
</script>
